<div xmlns:th="http://thymeleaf.org" id="AssignResults">
    <table class="ResultsTable">
        <tr>
            <th class="icon"></th>
            <th>Period</th>
            <th>Name</th>
            <th>ID#</th>
            <th>Date</th>
            <th>Pts Possible</th>
            <th>Submitted</th>
            <th>Class Avg</th>
        </tr>
        <tr th:each="grade : ${assignmentList}">
            <td><a th:href="@{/teacherManageAssign(gradeID=${grade.gradeID}, assignmentID=${grade.assignment.assignmentID})}" href="../templates/teacherManageAssign.html"><button class="editicon"></button></a></td>
            <td th:text="${grade.academicClass.period}">1</td>
            <td th:text="${grade.assignment.assignmentName}">Orientation Assignment</td>
            <td th:text="${grade.assignment.assignmentIDNumber}">HW1</td>
            <td th:text="${grade.assignment.date}">09/25/2016</td>
            <td th:text="${grade.possPoints}">100</td>
            <td th:text="${grade.assignment.submissionRate + '%'}">72.3%</td>
            <td th:text="${grade.assignment.average + '%'}">95.2%</td>
        </tr>
    </table>

</div>