<div xmlns:th="http://thymeleaf.org" id="ClassResults" class="results">
    <table class="ResultsTable">
        <tr>
            <th class="icon"></th>
            <th>Period</th>
            <th>Class Name</th>
            <th>Class ID#</th>
            <th>Department</th>
            <th>Teacher</th>
            <th>Assignments</th>
            <th>Average</th>
        </tr>
        <tr th:each="academicClass : ${classList}">
            <td class="buttonArea"><a><button class="editicon"></button></a><a><button class="classicicon"></button></a></td>
            <td th:text="${academicClass.period}">1</td>
            <td th:text="${academicClass.name}">PHYSICS 101</td>
            <td th:text="${academicClass.identifier}">SCIPHY101A</td>
            <td th:text="${academicClass.department}">Science</td>
            <td th:text="${academicClass.teacher.lastName + ', ' + academicClass.teacher.firstName}">MR. NAGEL</td>
            <td th:text="${academicClass.assignmentNumber}">13</td>
            <td th:text="${academicClass.classAverage + '%'}">92.4</td>
        </tr>
    </table>
</div>