.ManageForm {
    border-width: 0;
    padding: 1px 8px 10px;
    margin: 0 auto;
    font-size: large;
}
.ManageForm label {
    float: left;
    width: 120px;
    font-size: medium;
}
.StudentForm {
    width: 100%;
}
Button.minusicon {
    background: url("../images/minus.png") no-repeat;
    /*background: url("../static/images/minus.png") no-repeat;*/
    background-size: 100%;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
Button.minusicon:active {
    background-color: white;
    transform: translateY(1px);
}

ul.error{
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.error li{
    color: darkred;
    margin: 0.25em 0;
    padding: 0.25em 0;
    font-size: small;
}
input.error, select.error, textarea.error{
    -webkit-box-shadow: 0 0 15px 0 rgba(255,0,0,0.5);
    -moz-box-shadow: 0 0 15px 0 rgba(255,0,0,0.5);
    box-shadow: 0 0 15px 0 rgba(255,0,0,0.5);
}
.AddAssignmentNoteText {
    padding: 5px;
    width: 35%;
    height: 3.5em;
    resize: vertical;
}