header {
    height: 64px;
    margin: 0 auto;
    border: 1px black solid;
    background: url("../images/bricktile.jpg") repeat;
}
.HeaderText{
    background: rgba(255, 64, 64, 0.3);
    color: white;
    text-shadow: 5px 0px black;
    height: 100%;
    text-align: center;
    font-family: "Courier New", sans-serif;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
}
banner div {
    height: 20px;
    text-align: center;
    background: rgba(133, 133, 133, 0.95);
    margin: 0;
    border: 1px black solid;
    display: flex;
    align-items: center;
}
/*nav ul{*/
    /*height: 20px;*/
    /*text-align: center;*/
    /*background: rgba(182, 182, 182, 0.95);*/
    /*margin: 0px;*/
    /*padding: 0px;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*border: 1px black solid;}*/
/** ul li {*/
    /*display: inline-block;*/
/*}*/
/** ul li a {*/
    /*display: block;*/
    /*padding: 8px;*/
/*}*/

.nav-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: slategray;
}

.nav-links li {
    float: left;
    border-right: 1px solid #bbb;
}

.nav-links li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.nav-links li a:hover {
    background-color: #111;
}

.date {
    margin: auto;
    width: 50%;
    padding: 1px;
}
.greeting {
    position: absolute;
    right: 0px;
    width: 200px;
    padding: 1px;
}
.option {
    float: left;
}
.logout {
    position: absolute;
    right: 0px;
    width: 100px;
    padding: 1px;
}
article {
    padding: 16px;
}
#SchoolPic {
    height: 200px;
    width: 200px;
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
    border: thin solid black;
    float: left;
    overflow: auto;
}
article ul li {
    display: block;
}
.SchoolName{
    font-size: xx-large;
    margin: 0px;
}
.LabelText {
    float: left;
    width: 100px;
    font-weight: bold;
    white-space: nowrap;
}
.SchoolStats {
    list-style-type: none;
    float:left;
    display: list-item;
    padding: 0;
    margin: 0;
}
.SchoolStats ul {
    list-style-type: none;
    padding: 0 0 0 10px;
    margin: 0;
}