/*First banner: date+greeting*/
banner div {
    height: 20px;
    text-align: center;
    background: rgba(120, 120, 120, 0.50);
    border: 1px black solid;
    margin: 0px;
    display: flex;
    align-items: center;
}
.date {
    font-size: large;
    font-weight: bold;
    margin: auto;
    width: 50%;
    padding: 0px;
}
.greeting {
    position: absolute;
    right: 0px;
    width: 200px;
    padding: 1px;
}
/*Second banner: navigation*/
.nav-links ul {
    height: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #868686;
    align-items: center;
    border: 1px black solid;
}
.nav-links li {
    float: left;
    border-right: 1px solid #bbb;
}
.nav-links li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}
.nav-links li a:hover {
    background-color: #b6b6b6;
}
.nav-links .current {
    background-color: rgba(186, 186, 186, 0.73);
}
/*First column of tables with buttons present*/
.buttonArea {
    display: flex;
    align-items: center;
}
/*First column of table button formatting*/
Button.classicicon {
    background: url("../images/classicGB.png") no-repeat;
}
Button.deleteicon {
    background: url("../images/delete.png") no-repeat;
}
Button.editicon {
    background: url("../images/edit_pencil.png") no-repeat;
}
Button.addicon {
    background: url("../images/plus.png") no-repeat;
}
Button.minusicon {
    background: url("../images/minus.png") no-repeat;
}
Button.addnewuser {
    background: url("../images/add_user.png") no-repeat;
}
Button.noteicon {
    background: url("../images/stickynote.png") no-repeat;
}
Button.classicicon, Button.deleteicon, Button.editicon, Button.addicon, Button.minusicon, Button.addnewuser, Button.noteicon {
    background-size: 100%;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
}
Button.classicicon:active, Button.deleteicon:active, Button.editicon:active, Button.addicon:active, Button.minusicon:active, Button.addnewuser:active, Button.noteicon:active {
    background-color: white;
    transform: translateY(1px);
}
/*Error highlighting of bad fields*/
ul.error{
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.error li{
    color: darkred;
    margin: 0.25em 0;
    padding: 0.25em 0;
    font-size: small;
}
input.error, select.error, textarea.error{
    border: 1px red solid;
    /*-webkit-box-shadow: 0 0 15px 0 rgba(255,0,0,0.5);*/
    /*-moz-box-shadow: 0 0 15px 0 rgba(255,0,0,0.5);*/
    /*box-shadow: 0 0 15px 0 rgba(255,0,0,0.5);*/
}
/*Search Menu Input fields across all levels*/
.InputField {
    width: 80px;
}
/*Manage Screen Input fields (Admin/Teacher)*/
.formInput {
    width: 200px;
}
/*Manage Screen Save buttons (Admin/Teacher)*/
.formSave {
    clear: both;
    width: 80px;
    margin: 0px 125px;
}

/*TODO: clean up below items*/

/*Body settings*/
article {
    padding: 10px;
}
#SchoolPic {
    height: 200px;
    width: 200px;
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
    border: thin solid black;
    float: left;
    overflow: hidden;
}
article ul li {
    display: block;
}
.SchoolName{
    float: left;
    font-size: xx-large;
    margin: 0px;
}
.nameDivider {
    clear: both;
}
.LabelText {
    float: left;
    width: 120px;
    font-weight: bold;
    white-space: nowrap;
}
.SchoolStats {
    list-style-type: none;
    float:left;
    display: list-item;
    padding: 0px;
    margin: 0px;
}
.SchoolStats ul {
    list-style-type: none;
    padding: 0px 0px 0px 10px;
    margin: 0px;
}
.divider {
    padding: 5px 5px 0px;
    clear: both;
}
fieldset {
    border-radius: 10px;
}
legend {
    font-family: "Comic Sans MS", sans-serif;
    font-size: small;
}
form {
    float: left;
}
.SearchField {
    margin: 3px;
}
.SearchParams {
    margin: 0px;
    padding: 0px;
    text-align: left;
}
#AddClassButton, #AddAdminButton, #AddTeacherButton, #AddStudentButton, #AddAssignButton {
    float: right;
}
#AddClassButton a, #AddAdminButton a, #AddTeacherButton a, #AddStudentButton a, #AddAssignButton a {
    text-decoration: none;
}
.SearchResults {
    margin: 10px 0px 0px;
}
table {
    font-family: Arial, sans-serif;
    font-size: small;
    text-align: center;
    border-collapse: separate;
    overflow: hidden;
    border: solid black 1px;
    border-spacing: 0px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
th  {
    font-weight: bold;
    text-decoration: underline;
    width: 100px;
}
table tr th:first-child, table tr td:first-child{
    width: 20px;
}
table tr:nth-child(2n) {
    color: #560023;
    background: rgba(133, 133, 133, 0.95);
}
table tr:nth-child(2n+1) {
    color: white;
    background-color: #737373;
}
#AttendanceTable td{
    padding: 0px 5px 0px;
    float: left;
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 100px;
}
.spacer {
    margin: 1px 1px 0px 0px;
}
.attendanceCheckbox {
    float: left;
    font-size: xx-small;
}
.homeHyperlinkAttendance {
    float: left;
}
.homeHyperlinkGrade {
    float: left;
}
.homeGrade {
    /*float: right;*/
    text-align: center;
    padding: 0px 0px 0px 50px;
}
#SaveAttendance {
    padding: 10px 0px 0px;
    text-align:center;
    margin:auto;
}
.icon {
    max-width: 20px;
}
.ManageForm {
    border-width: 0;
    padding: 1px 8px 10px;
    margin: 0 auto;
    font-size: large;
}
.ManageForm label {
    float: left;
    width: 120px;
    font-size: medium;
}
.StudentForm {
    width: 100%;
}

.pagination{
    text-align: center;
}