/*Title Header*/
header {
    height: 64px;
    margin: 0 auto;
    border: 1px black solid;
    background: url("../images/bricktile.jpg") repeat;
}
.HeaderText{
    background: rgba(255, 64, 64, 0.3);
    color: white;
    text-shadow: 5px 0px black;
    height: 100%;
    text-align: center;
    font-family: "Courier New", sans-serif;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*First banner: date/greeting*/
banner div {
    height: 20px;
    text-align: center;
    background: rgba(133, 133, 133, 0.95);
    margin: 0;
    border: 1px black solid;
    color: #560023;
    display: flex;
    align-items: center;
}
.date {
    margin: auto;
    width: 50%;
    padding: 1px;
}
.greeting {
    position: absolute;
    right: 0px;
    width: 200px;
    padding: 1px;
}
/*Second banner: navigation*/
.nav-links ul {
    height: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #737373;
    align-items: center;
    border: 1px black solid;
}
.nav-links li {
    float: left;
    border-right: 1px solid #bbb;
}
.nav-links li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}
.nav-links li a:hover, .current {
    background-color: slategray;
    color: #560023;
}
/*Body settings*/
article {
    padding: 10px;
}
#SchoolPic {
    height: 200px;
    width: 200px;
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
    border: thin solid black;
    float: left;
    overflow: auto;
}
article ul li {
    display: block;
}
.SchoolName{
    font-size: xx-large;
    margin: 0px;
}
.LabelText {
    float: left;
    width: 120px;
    font-weight: bold;
    white-space: nowrap;
}
.SchoolStats {
    list-style-type: none;
    float:left;
    display: list-item;
    padding: 0;
    margin: 0;
}
.SchoolStats ul {
    list-style-type: none;
    padding: 0 0 0 10px;
    margin: 0;
}
.divider {
    padding: 10px;
    clear: both;
}