header {
    height: 64px;
    margin: 0px auto;
    border: 1px black solid;
    background: url("../images/bricktile.jpg") repeat;
}
.HeaderText {
    color: white;
    text-shadow: 5px 0px black;
    background: rgba(255, 64, 64, 0.3);
    height: 100%;
    text-align: center;
    font-family: "Courier New", sans-serif;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
}
banner div, .nav-links, li a:hover, .current, a:link, a:visited, a:hover, a:active, table tr:nth-child(2n) {
    color: #560023;
}
a {
    text-decoration: none;
}
/*Admin Only: Pagination of User fields*/
#descriptionAdmin, #descriptionTeacher, #descriptionStudent {
    font-size: small;
}