header {
    height: 64px;
    margin: 0px auto;
    border: 1px black solid;
    background: url("../images/bricktile.jpg") repeat;
}
.HeaderText {
    color: white;
    text-shadow: 5px 0px black;
    background: rgba(13, 90, 255, 0.56);
    height: 100%;
    text-align: center;
    font-family: "Courier New", sans-serif;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
}
banner div, .nav-links, li a:hover, .current, a:link, a:visited, a:hover, a:active, table tr:nth-child(2n) {
    color: #0a2768;
}
a {
    text-decoration: none;
}
/*Teacher only: Grade Input field*/
.GradeInput {
    width: 35px;
}
/*Teacher Only: Assignment Note field*/
.AddAssignmentNoteText {
    padding: 5px;
    width: 200px;
    height: 3.5em;
    resize: vertical;
}
/*Teacher Only: Pagination of Gradebook fields*/
#description, #descriptionAssign, #descriptionStudent {
    font-size: small;
}