<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Objective Grader: Login</title>
    <link th:href="@{css/theme.css}" href="../static/css/theme.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{css/forms.css}" href="../static/css/forms.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{images/icon.png}" href="../static/images/icon.png" rel="icon"/>
    <header>
        <div class="HeaderText">
            <h1>Objective Grader</h1>
        </div>
    </header>
    <banner>
        <div>
            <span class="date" th:text="${java.time.LocalDate.now()">September 26, 2016</span>
            <span class="greeting">Good Morning, Admin!</span>
        </div>
    </banner>
    <nav class="nav-links">
        <ul>
            <li class="option"><a th:href="" href="../templates/adminHome.html">Home</a></li>
            <li class="option"><a th:href="" href="../templates/adminClasses.html">Manage Classes</a></li>
            <li class="current"><a th:href="" href="../templates/adminUsers.html">Manage Users</a></li>
            <li class="logout"><a th:href="@{/logout}" href="../templates/login.html">Logout</a></li>
        </ul>
    </nav>
</head>
<body>
<section>
    <fieldset class="SearchField">
        <legend>Teachers</legend>
        <!--teacher manager search engine-->
        <article class="SearchParams">
            <div id="TeacherSearchParams">
                <form>
                    <input class="InputField" type="text" placeholder="Last Name"/>
                    <input class="InputField" placeholder="First Name"/>
                    <input class="InputField" placeholder="Email Address"/>
                    <input class="InputField" placeholder="Department"/>
                    <input class="InputField" placeholder="Tenure"/>
                    <button class="SearchButton">Search</button>
                </form>
                <button id="AddTeacherButton" class="addnewuser"><a href="../templates/adminManageTeacher.html"></a></button>
            </div>
            <br/>
        </article>
        <!--teacher manager results-->
        <div class="SearchResults">
            <!--<legend>Results</legend>-->
            <div id="ClassResults">
                <table class="ResultsTable">
                    <tr>
                        <th></th>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Email Address</th>
                        <th>Department</th>
                        <th>Tenure</th>
                        <th>Last Login</th>
                        <th>Disabled</th>
                    </tr>
                    <tr>
                        <td><button class="editicon"><a href="../templates/adminManageTeacher.html"></a></button></td>
                        <td>Bush</td>
                        <td>James</td>
                        <td>jebush@gmail.com</td>
                        <td>PHYSED</td>
                        <td>43</td>
                        <td>09/29/16</td>
                        <td>No</td>
                    </tr>
                </table>
            </div>
        </div>
    </fieldset>
    <div class="divider">
        <hr/>
    </div>
    <!--student manager search engine-->
    <fieldset class="SearchField">
        <legend>Students</legend>
        <article class="SearchParams">
            <div id="StudentSearchParams">
                <form>
                    <input class="InputField" type="text" placeholder="Last Name"/>
                    <input class="InputField" type="text" placeholder="First Name"/>
                    <input class="InputField" type="text" placeholder="Email Address"/>
                    <input class="InputField" type="text" placeholder="Student ID#"/>
                    <input class="InputField" type="text" placeholder="Grade"/>
                    <button class="SearchButton">Search</button>
                </form>
                <button id="AddStudentButton" class="addnewuser"><a href="../templates/adminManageStudent.html"></a></button>
            </div>
            <br/>
        </article>
        <!--class manager results-->
        <div class="SearchResults">
            <!--<legend>Results</legend>-->
            <div id="StudentResults">
                <table class="ResultsTable">
                    <tr>
                        <th></th>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Email Address</th>
                        <th>Student ID#</th>
                        <th>Grade</th>
                        <th>Last Login</th>
                        <th>Disabled</th>
                    </tr>
                    <tr>
                        <td><button class="editicon"><a href="../templates/adminManageStudent.html"></a></button></td>
                        <td>SMITH</td>
                        <td>MATTHEW</td>
                        <td>msmith01@fakeschools.org</td>
                        <td>9824621</td>
                        <td>12</td>
                        <td>N/A</td>
                        <td>No</td>
                    </tr>
                </table>
            </div>
        </div>
    </fieldset>
</section>
</body>
</html>