<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Objective Grader: Login</title>
    <link th:href="@{css/theme.css}" href="../static/css/theme.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{css/forms.css}" href="../static/css/forms.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{images/icon.png}" href="../static/images/icon.png" rel="icon"/>
    <header>
        <div class="HeaderText">
            <h1>Objective Grader</h1>
        </div>
    </header>
    <banner>
        <div>
            <span class="date" th:text="${date}">September 26, 2016</span>
            <span class="greeting" th:text="${'Hello, ' + userName + '!'}">Good Morning, Admin!</span>
        </div>
    </banner>
    <nav class="nav-links">
        <ul>
            <li class="option"><a th:href="@{/adminHome}" href="../templates/adminHome.html">Home</a></li>
            <li class="option"><a th:href="@{/adminClasses}" href="../templates/adminClasses.html">Manage Classes</a></li>
            <li class="current"><a th:href="@{/adminUsers}" href="../templates/adminUsers.html">Manage Users</a></li>
            <li class="logout"><a th:href="@{/logout}" href="../templates/login.html">Logout</a></li>
        </ul>
    </nav>
</head>
<body>
<section>
    <!--Student manager-->
    <article>
        <fieldset>
            <legend>Manage Student</legend>
                <form class="ManageForm" th:object="${student}" th:action="adminManageStudent" action="../templates/adminUsers.html" method="post">
                    <input type="hidden" id="studentID" name="studentID"/>
                    <label>First Name</label>
                    <ul class="error" th:hidden="true"><li th:each="err : ${#fields.errors('firstName')}"></li></ul>
                    <input name="firstName" type="text" placeholder="First Name" th:field="*{firstName}" th:errorclass="error"/>
                    <br/>
                    <label>Last Name</label>
                    <ul class="error" th:hidden="true"><li th:each="err : ${#fields.errors('lastName')}"></li></ul>
                    <input name="lastName" type="text" placeholder="Last Name" th:field="*{lastName}" th:errorclass="error"/>
                    <br/>
                    <label>Email Address</label>
                    <ul class="error" th:hidden="true"><li th:each="err : ${#fields.errors('emailAddress')}"></li></ul>
                    <input name="emailAddress" type="text" placeholder="Email" th:field="*{emailAddress}" th:errorclass="error"/>
                    <br/>
                    <label>Password</label>
                    <ul class="error" th:hidden="true"><li th:each="err : ${#fields.errors('password')}"></li></ul>
                    <input name="password" type="password" placeholder="Password" th:field="*{password}" th:errorclass="error"/>
                    <br/>
                    <label>ID#</label>
                    <ul class="error" th:hidden="true"><li th:each="err : ${#fields.errors('studentNumber')}"></li></ul>
                    <input name="studentNumber" type="text" placeholder="Student ID#" th:field="*{studentNumber}" th:errorclass="error"/>
                    <br/>
                    <label>Grade</label>
                    <ul class="error" th:hidden="true"><li th:each="err : ${#fields.errors('gradeLevel')}"></li></ul>
                    <select name="gradeLevel" th:field="*{gradeLevel}" th:errorclass="error">
                        <option value="" selected="true">Grade</option>
                        <!--<option value="K" >K</option>-->
                        <option value="1" >1</option>
                        <option value="2" >2</option>
                        <option value="3" >3</option>
                        <option value="4" >4</option>
                        <option value="5" >5</option>
                        <option value="6" >6</option>
                        <option value="7" >7</option>
                        <option value="8" >8</option>
                        <option value="9" >9</option>
                        <option value="10" >10</option>
                        <option value="11" >11</option>
                        <option value="12" >12</option>
                    </select>
                    <br/>
                    <button>Save</button>
                </form>
        </fieldset>
    </article>
</section>
</body>
</html>