<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Objective Grader: Login</title>
    <link th:href="@{css/theme.css}" href="../static/css/theme.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{images/icon.png}" href="../static/images/icon.png" rel="icon"/>
    <header>
        <div class="HeaderText">
            <h1>Objective Grader</h1>
        </div>
    </header>
    <banner>
        <div>
            <span class="date" th:text="${date}">September 26, 2016</span>
            <span class="greeting" th:text="${'Hello, ' + userName + '!'}">Good Morning, Admin!</span>
        </div>
    </banner>
    <nav class="nav-links">
        <ul>
            <li class="option"><a th:href="@{/adminHome}" href="../templates/adminHome.html">Home</a></li>
            <li class="current"><a th:href="@{/adminClasses}" href="../templates/adminClasses.html">Manage Classes</a></li>
            <li class="option"><a th:href="@{/adminUsers}" href="../templates/adminUsers.html">Manage Users</a></li>
            <li class="logout"><a th:href="@{/logout}" href="../templates/login.html">Logout</a></li>
        </ul>
    </nav>
</head>
<body>
    <section>
        <fieldset class="SearchField">
            <legend>Classes</legend>
            <!--class manager search engine-->
            <article class="SearchParams">
                <div id="ClassSearchParams">
                    <form>
                        <input name="name" class="InputField" type="text" placeholder="Class Name" th:value="${name}"/>
                        <input name="identifier" class="InputField" type="text" placeholder="Class ID#" th:value="${identifier}"/>
                        <input name="department" class="InputField" type="text" placeholder="Department" th:value="${department}"/>
                        <input name="teacherLastName" class="InputField" type="text" placeholder="Last Name" th:value="${teacherLastName}"/>
                        <input name="teacherFirstName" class="InputField" type="text" placeholder="First Name" th:value="${teacherFirstName}"/>
                        <input name="period" class="InputField" type="text" placeholder="Period" th:value="${period}"/>
                        <button class="SearchButton">Search</button>
                    </form>
                    <a th:href="@{/adminManageClass}" href="../templates/adminManageClass.html"><button id="AddClassButton" class="addnewuser"></button></a>
                </div>
                <br/>
            </article>
            <!--class manager results-->
            <div class="SearchResults">
                <div id="ClassResults">
                    <table class="ResultsTable">
                        <tr>
                            <th class="icon"></th>
                            <th>Class Name</th>
                            <th>Class ID#</th>
                            <th>Department</th>
                            <th>Teacher</th>
                            <th>Period</th>
                            <th>Enrolled</th>
                            <th>Capacity</th>
                        </tr>
                        <tr th:each="academicClass : ${classList}" th:object="${academicClass}">
                            <td><a th:href="@{/adminManageClass?(classID=${academicClass.getClassID()})}" href="../templates/adminManageClass.html"><button class="editicon"></button></a></td>
                            <td th:text="*{name}">PHYSICS 101</td>
                            <td th:text="*{identifier}">SCIPHY101A</td>
                            <td th:text="*{department}">SCIENCE</td>
                            <td th:text="*{teacher.getLastName() + ', ' + teacher.getFirstName()}">MR. NAGEL</td>
                            <td th:text="*{period}">">1</td>
                            <!--<td th:text="*{students.size()}">>11</td>-->
                            <td>11</td>
                            <td th:text="*{capacity}">>30</td>
                        </tr>
                    </table>
                </div>
            </div>
        </fieldset>
        <div class="divider">
            <hr/>
        </div>
    </section>
</body>
</html>