<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Objective Grader: Login</title>
    <link th:href="@{css/theme.css}" href="../static/css/theme.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{images/icon.png}" href="../static/images/icon.png" rel="icon"/>
    <header>
        <div class="HeaderText">
            <h1>Objective Grader</h1>
        </div>
    </header>
    <banner>
        <div>
            <span class="date" th:text="${java.time.LocalDate.now()">September 26, 2016</span>
            <span class="greeting">Good Morning, Admin!</span>
        </div>
    </banner>
    <nav>
        <ul>
            <li class="option"><a th:href="" href="/objectivegrader/templates/Login.html">Home</a></li>
            <li class="option"><a th:href="" href="/objectivegrader/templates/Login.html">Manage Classes</a></li>
            <li class="option"><a th:href="" href="/objectivegrader/templates/Login.html">Manage Users</a></li>
            <li class="logout"><a th:href="@{/logout}" href="/objectivegrader/templates/login.html">Logout</a></li>
        </ul>
    </nav>
</head>
<body>
    <section>
        <article class="SchoolInfo">
            <div>
                <img id="SchoolPic" src="/objectivegrader/static/images/schoolext.jpg" alt=""/>
            </div>
            <div class="SchoolStats">
                <ul>
                    <h1 class="SchoolName">Excelsior High School</h1>
                    <li><span class="LabelText">Address: </span><span>1234 Elm Street</span></li>
                    <li><span class="LabelText">Location: </span><span>Raleigh, NC 27610</span></li>
                    <li><span class="LabelText">Phone: </span><span>919-123-4567</span></li>
                </ul>
            </div>
        </article>
    </section>
</body>
</html>