<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Objective Grader: Login</title>
    <link th:href="@{css/theme.css}" href="../static/css/theme.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{css/themeAdmin.css}" href="../static/css/themeAdmin.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{images/icon.png}" href="../static/images/icon.png" rel="icon"/>
    <header>
        <div class="HeaderText">
            <h1>Objective Grader</h1>
        </div>
    </header>
    <banner>
        <div>
            <span class="date" th:text="${date}">September 26, 2016</span>
            <span class="greeting" th:text="${'Good ' + day + ', ' + userName + '!'}">Good Morning, Admin!</span>
        </div>
    </banner>
    <nav class="nav-links">
        <ul>
            <li><a th:href="@{/adminHome}" href="../templates/adminHome.html">Home</a></li>
            <li class="current"><a th:href="@{/adminClasses}" href="../templates/adminClasses.html">Manage Classes</a></li>
            <li><a th:href="@{/adminUsers}" href="../templates/adminUsers.html">Manage Users</a></li>
            <li><a th:href="@{/logout}" href="../templates/login.html">Logout</a></li>
        </ul>
    </nav>
</head>
<body>
    <section>
        <!--class manager (class properties)-->
        <article>
            <fieldset>
                <legend>Manage Class</legend>
                    <form class="ManageForm" th:object="${academicClass}" th:action="adminManageClass" action="../templates/adminClasses.html" method="post">
                        <input type="hidden" id="classID" name="classID" th:value="${academicClass.getClassID()}"/>
                        <label>Class Name</label>
                        <ul class="error" th:hidden="true"><li th:each="err : ${#fields.errors('name')}"></li></ul>
                        <input name="name" type="text" class="formInput" placeholder="Class Name" th:field="*{name}" th:errorclass="error"/>
                        <br/>
                        <label>ID#</label>
                        <ul class="error" th:hidden="true"><li th:each="err : ${#fields.errors('identifier')}"></li></ul>
                        <input name="identifier" type="text" class="formInput" placeholder="Class ID#" th:field="*{identifier}" th:errorclass="error"/>
                        <br/>
                        <label>Department</label>
                        <ul class="error" th:hidden="true"><li th:each="err : ${#fields.errors('department')}"></li></ul>
                        <select name="department" class="formInput" th:field="*{department}" th:errorclass="error">
                            <option value="" select="true">Department</option>
                            <option value="Agriculture">Agriculture</option>
                            <option value="Art">Art</option>
                            <option value="English">English</option>
                            <option value="Foreign Language">Foreign Language</option>
                            <option value="Math">Math</option>
                            <option value="Music">Music</option>
                            <option value="Physical Education">Physical Education</option>
                            <option value="Science">Science</option>
                            <option value="Social Studies">Social Studies</option>
                            <option value="Technology">Technology</option>
                        </select>
                        <br/>
                        <label>Teacher</label>
                        <ul class="error" th:hidden="true"><li th:each="err : ${#fields.errors('teacher')}"></li></ul>
                        <select name="teacher" class="formInput" th:field="*{teacher}" th:errorclass="error">
                            <option value="" selected="true">Teacher</option>
                            <option th:each="teacher : ${teacherList}" th:value="${teacher.getTeacherID()}" value="" th:text="${teacher.getLastName() + ', ' + teacher.getFirstName()}"></option>
                        </select>
                        <br/>
                        <label>Period</label>
                        <ul class="error" th:hidden="true"><li th:each="err : ${#fields.errors('period')}"></li></ul>
                        <select name="period" class="formInput" th:field="*{period}" th:errorclass="error">
                            <option value="" selected="true">Period</option>
                            <option value="1" >1</option>
                            <option value="2" >2</option>
                            <option value="3" >3</option>
                            <option value="4" >4</option>
                            <option value="5" >5</option>
                            <option value="6" >6</option>
                            <option value="7" >7</option>
                            <option value="8" >8</option>
                        </select>
                        <br/>
                        <label>Capacity</label>
                        <ul class="error" th:hidden="true"><li th:each="err : ${#fields.errors('capacity')}"></li></ul>
                        <input name="capacity" class="formInput" type="number" min="0" placeholder="Capacity" th:field="*{capacity}" th:errorclass="error"/>
                        <br/>
                        <br/>
                        <button class="formSave">Save</button>
                    </form>
            </fieldset>
        </article>
        <!--enrolled students manager search engine-->
        <fieldset class="SearchField">
            <legend>Enrolled Students</legend>
            <article class="SearchParams">
                <div id="EnrolledStudentSearchParams">
                    <form>
                        <input class="InputField" type="text" placeholder="Last Name"/>
                        <input class="InputField" type="text" placeholder="First Name"/>
                        <input class="InputField" type="text" placeholder="Student ID#"/>
                        <input class="InputField" type="text" placeholder="Grade"/>
                        <input class="InputField" type="text" placeholder="Period"/>
                        <button class="SearchButton">Search</button>
                    </form>
                </div>
                <br/>
            </article>
            <!--enrolled students manager results-->
            <div class="SearchResults">
                <!--<legend>Results</legend>-->
                <div id="EnrolledStudentResults">
                    <table class="ResultsTable">
                        <tr>
                            <th></th>
                            <th>Last Name</th>
                            <th>First Name</th>
                            <th>Student ID#</th>
                            <th>Grade</th>
                            <th>Period</th>
                            <th>Class Name</th>
                            <th>Class ID#</th>
                        </tr>
                        <tr th:each="student : ${studentRoster}">
                            <td><a th:href="@{/adminDropStudentFromClass?(classID=${academicClass.classID}, studentID=${student.studentID})}"><button class="minusicon"></button></a></td>
                            <td th:text="${student.getLastName()}">SMITH</td>
                            <td th:text="${student.getFirstName()}">MATTHEW</td>
                            <td th:text="${student.getStudentNumber()}">9824621</td>
                            <td th:text="${student.getGradeLevel()}">12</td>
                            <td th:text="${'N/A'}">1</td>
                            <td th:text="${'N/A'}">PHYSICS 101</td>
                            <td th:text="${'N/A'}">SCIPHY101A</td>
                        </tr>
                    </table>
                </div>
            </div>
        </fieldset>
        <div class="divider">
            <hr/>
        </div>
        <!--available students manager search engine-->
        <fieldset class="SearchField">
            <legend>Available Students</legend>
            <article class="SearchParams">
                <div id="StudentSearchParams">
                    <form>
                        <input class="InputField" type="text" placeholder="Last Name"/>
                        <input class="InputField" type="text" placeholder="First Name"/>
                        <input class="InputField" type="text" placeholder="Student ID#"/>
                        <input class="InputField" type="text" placeholder="Grade"/>
                        <input class="InputField" type="text" placeholder="Period"/>
                        <button class="SearchButton">Search</button>
                    </form>
                </div>
                <br/>
            </article>
            <!--available students manager results-->
            <div class="SearchResults">
                <div id="StudentResults">
                    <table class="ResultsTable">
                        <tr>
                            <th class="icon"></th>
                            <th >Last Name</th>
                            <th>First Name</th>
                            <th>Student ID#</th>
                            <th>Grade</th>
                            <th>Period</th>
                            <th>Class Name</th>
                            <th>Class ID#</th>
                        </tr>
                        <tr th:each="student : ${studentList}" th:object="${student}">
                            <td><a th:href="@{/adminAddStudentToClass?(classID=${academicClass.classID}, studentID=${student.studentID})}"><button class="addicon"></button></a></td>
                            <td th:text="*{lastName}">SMITH</td>
                            <td th:text="*{firstName}">MATTHEW</td>
                            <td th:text="*{studentNumber}">9824621</td>
                            <td th:text="*{gradeLevel}">12</td>
                            <td th:text="${'N/A'}">1</td>
                            <td th:text="${'N/A'}">PHYSICS 101</td>
                            <td th:text="${'N/A'}">SCIPHY101A</td>
                        </tr>
                    </table>
                </div>
            </div>
        </fieldset>
    </section>
</body>
</html>