<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Objective Grader: Login</title>
    <link th:href="@{css/theme.css}" href="../static/css/theme.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{css/forms.css}" href="../static/css/forms.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{css/themeAdmin.css}" href="../static/css/themeAdmin.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{images/icon.png}" href="../static/images/icon.png" rel="icon"/>
    <header>
        <div class="HeaderText">
            <h1>Objective Grader</h1>
        </div>
    </header>
    <banner>
        <div>
            <span class="date" th:text="${date}">September 26, 2016</span>
            <span class="greeting" th:text="${'Good ' + day + ', ' + userName + '!'}">Good Morning, Admin!</span>
        </div>
    </banner>
    <nav class="nav-links">
        <ul>
            <li class="current"><a th:href="@{/adminHome}" href="../templates/adminHome.html">Home</a></li>
            <li class="option"><a th:href="@{/adminClasses}" href="../templates/adminClasses.html">Manage Classes</a></li>
            <li class="option"><a th:href="@{/adminUsers}" href="../templates/adminUsers.html">Manage Users</a></li>
            <li class="logout"><a th:href="@{/logout}" href="../templates/login.html">Logout</a></li>
        </ul>
    </nav>
</head>
<body>
<section>
    <!--School manager-->
    <article>
        <fieldset>
            <legend>Manage School</legend>
                <form class="ManageForm" th:object="${school}" th:action="adminManageInfo" action="../templates/adminHome.html" method="post">
                    <input type="hidden" id="schoolID" name="schoolID" th:value="0"/>
                    <label>School Name</label>
                    <ul class="error" th:hidden="true"><li th:each="err : ${#fields.errors('schoolName')}"></li></ul>
                    <input name="schoolName" type="text" placeholder="School Name" th:field="*{schoolName}" th:errorclass="error"/>
                    <br/>
                    <label>District</label>
                    <ul class="error" th:hidden="true"><li th:each="err : ${#fields.errors('district')}"></li></ul>
                    <input name="district" type="text" placeholder="School District" th:field="*{district}" th:errorclass="error"/>
                    <br/>
                    <label>School Address</label>
                    <ul class="error" th:hidden="true"><li th:each="err : ${#fields.errors('address')}"></li></ul>
                    <input name="address" type="text" placeholder="School Address" th:field="*{address}" th:errorclass="error"/>
                    <br/>
                    <label>City</label>
                    <ul class="error" th:hidden="true"><li th:each="err : ${#fields.errors('city')}"></li></ul>
                    <input name="city" type="text" placeholder="City" th:field="*{city}" th:errorclass="error"/>
                    <br/>
                    <label>State</label>
                    <ul class="error" th:hidden="true"><li th:each="err : ${#fields.errors('state')}"></li></ul>
                    <input name="state" type="text" placeholder="State" th:field="*{state}" th:errorclass="error"/>
                    <br/>
                    <label>Zip Code</label>
                    <ul class="error" th:hidden="true"><li th:each="err : ${#fields.errors('zipCode')}"></li></ul>
                    <input name="zipCode" type="text" placeholder="Zip Code" th:field="*{zipCode}" th:errorclass="error"/>
                    <br/>
                    <label>School Email</label>
                    <ul class="error" th:hidden="true"><li th:each="err : ${#fields.errors('email')}"></li></ul>
                    <input name="email" type="email" placeholder="School Email" th:field="*{email}" th:errorclass="error"/>
                    <br/>
                    <label>School Phone</label>
                    <ul class="error" th:hidden="true"><li th:each="err : ${#fields.errors('phone')}"></li></ul>
                    <input name="phone" type="tel" placeholder="Phone" th:field="*{phone}" th:errorclass="error"/>
                    <br/>
                    <!--<label>School Picture</label>-->
                    <!--<ul class="error" th:hidden="true"><li th:each="err : ${#fields.errors('photo')}"></li></ul>-->
                    <!--<input name="photo" type="file" placeholder="School Photo" th:field="*{photo}" th:errorclass="error"/>-->
                    <!--<br/>-->
                    <br/>
                    <button>Save</button>
                </form>
        </fieldset>
    </article>
</section>
</body>
</html>