<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Objective Grader: Login</title>
    <link th:href="@{css/theme.css}" href="../static/css/theme.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{css/themeAdmin.css}" href="../static/css/themeAdmin.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{images/icon.png}" href="../static/images/icon.png" rel="icon"/>
    <header>
        <div class="HeaderText">
            <h1>Objective Grader</h1>
        </div>
    </header>
    <banner>
        <div>
            <span class="date" th:text="${date}">September 26, 2016</span>
            <span class="greeting" th:text="${'Good ' + day + ', ' + userName + '!'}">Good Morning, Admin!</span>
        </div>
    </banner>
    <nav class="nav-links">
        <ul>
            <li class="option"><a th:href="@{/adminHome}" href="../templates/adminHome.html">Home</a></li>
            <li class="option"><a th:href="@{/adminClasses}" href="../templates/adminClasses.html">Manage Classes</a></li>
            <li class="current"><a th:href="@{/adminUsers}" href="../templates/adminUsers.html">Manage Users</a></li>
            <li class="logout"><a th:href="@{/logout}" href="../templates/login.html">Logout</a></li>
        </ul>
    </nav>
</head>
<body>
    <section>
        <!--Teacher manager-->
        <article>
            <fieldset>
                <legend>Manage Teacher</legend>
                    <form class="ManageForm" th:object="${teacher}" th:action="adminManageTeacher" action="../templates/adminUsers.html" method="post">
                        <input type="hidden" id="teacherID" name="teacherID" th:value="${teacher.getTeacherID()}"/>
                        <label>First Name</label>
                        <ul class="error" th:hidden="true"><li th:each="err : ${#fields.errors('firstName')}"></li></ul>
                        <input name="firstName" class="formInput" type="text" placeholder="First Name" th:field="*{firstName}" th:errorclass="error"/>
                        <br/>
                        <label>Last Name</label>
                        <ul class="error" th:hidden="true"><li th:each="err : ${#fields.errors('lastName')}"></li></ul>
                        <input name="lastName" class="formInput" type="text" placeholder="Last Name" th:field="*{lastName}" th:errorclass="error"/>
                        <br/>
                        <label>Email Address</label>
                        <ul class="error" th:hidden="true"><li th:each="err : ${#fields.errors('user.email')}"></li></ul>
                        <input name="emailAddress" class="formInput" type="text" placeholder="Email" th:field="*{user.email}" th:errorclass="error"/>
                        <br/>
                        <label>Password</label>
                        <ul class="error" th:hidden="true"><li th:each="err : ${#fields.errors('user.password')}"></li></ul>
                        <input name="password" class="formInput" type="password" placeholder="Password" th:field="*{user.password}" th:errorclass="error"/>
                        <br/>
                        <label>Hire Date</label>
                        <ul class="error" th:hidden="true"><li th:each="err : ${#fields.errors('hireDate')}"></li></ul>
                        <input name="hireDate" class="formInput" type="date" th:field="*{hireDate}" th:errorclass="error"/>
                        <br/>
                        <label>Department</label>
                        <ul class="error" th:hidden="true"><li th:each="err : ${#fields.errors('department')}"></li></ul>
                        <select name="department" class="formInput" th:field="*{department}" th:errorclass="error">
                            <option value="" selected="true">Department</option>
                            <option value="Agriculture" >Agriculture</option>
                            <option value="Math" >Math</option>
                            <option value="Physical Education" >Physical Education</option>
                            <option value="Science" >Science</option>
                            <option value="Social Studies" >Social Studies</option>
                            <option value="Technology" >Technology</option>
                        </select>
                        <br/>
                        <label>Disabled</label>
                        <input name="disabled" class="formInput" type="checkbox" th:field="*{user.disabled}"/>
                        <br/>
                        <button>Save</button>
                    </form>
            </fieldset>
        </article>
    </section>
</body>
</html>