<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Objective Grader: Login</title>
    <link th:href="@{css/theme.css}" href="../static/css/theme.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{css/forms.css}" href="../static/css/forms.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{images/icon.png}" href="../static/images/icon.png" rel="icon"/>
    <header>
        <div class="HeaderText">
            <h1>Objective Grader</h1>
        </div>
    </header>
    <banner>
        <div>
            <span class="date" th:text="${date}">September 26, 2016</span>
            <span class="greeting" th:text="${'Hello, ' + userName + '!'}">Good Morning, Admin!</span>
        </div>
    </banner>
    <nav class="nav-links">
        <ul>
            <li class="option"><a th:href="@{/adminHome}" href="../templates/adminHome.html">Home</a></li>
            <li class="option"><a th:href="@{/adminClasses}" href="../templates/adminClasses.html">Manage Classes</a></li>
            <li class="current"><a th:href="@{/adminUsers}" href="../templates/adminUsers.html">Manage Users</a></li>
            <li class="logout"><a th:href="@{/logout}" href="../templates/login.html">Logout</a></li>
        </ul>
    </nav>
</head>
<body>
<section>
    <fieldset class="SearchField">
        <legend>Admins</legend>
        <!--admin manager search engine-->
        <article class="SearchParams">
            <div id="AdminSearchParams">
                <form>
                    <input class="InputField" type="text" placeholder="Last Name"/>
                    <input class="InputField" placeholder="First Name"/>
                    <input class="InputField" placeholder="Email Address"/>
                    <input class="InputField" placeholder="Title"/>
                    <input class="InputField" placeholder="Tenure"/>
                    <button class="SearchButton">Search</button>
                </form>
                <a th:href="@{/adminManageAdmin}" href="../templates/adminManageAdmin.html"><button id="AddAdminButton" class="addnewuser"></button></a>
            </div>
            <br/>
        </article>
        <!--admin manager results-->
        <div class="SearchResults">
            <div id="AdminResults">
                <table class="ResultsTable">
                    <tr>
                        <th class="icon"></th>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Email Address</th>
                        <th>Title</th>
                        <th>Tenure</th>
                        <th>Last Login</th>
                        <th>Disabled</th>
                    </tr>
                    <tr th:each="admin : ${adminList}">
                        <td><a th:href="@{/adminManageAdmin}" href="../templates/adminManageAdmin.html"><button class="editicon"></button></a></td>
                        <td th:text="${admin.getLastName()}">ROOSEVELT</td>
                        <td th:text="${admin.getFirstName()}">THEODORE</td>
                        <td th:text="${admin.getEmailAddress()}">troosevelt@gmail.com</td>
                        <td th:text="${admin.getTitle()}">A. PRINCIPAL</td>
                        <td th:text="${admin.getHireDate()}">12</td>
                        <td th:text="${'N/A'}">09/29/16</td>
                        <td th:text="${admin.getUser().isDisabled()}">NO</td>
                    </tr>
                </table>
            </div>
        </div>
    </fieldset>
    <div class="divider">
        <hr/>
    </div>
    <fieldset class="SearchField">
        <legend>Teachers</legend>
        <!--teacher manager search engine-->
        <article class="SearchParams">
            <div id="TeacherSearchParams">
                <form>
                    <input class="InputField" type="text" placeholder="Last Name"/>
                    <input class="InputField" placeholder="First Name"/>
                    <input class="InputField" placeholder="Email Address"/>
                    <input class="InputField" placeholder="Department"/>
                    <input class="InputField" placeholder="Tenure"/>
                    <button class="SearchButton">Search</button>
                </form>
                <a th:href="@{/adminManageTeacher}" href="../templates/adminManageTeacher.html"><button id="AddTeacherButton" class="addnewuser"></button></a>
            </div>
            <br/>
        </article>
        <!--teacher manager results-->
        <div class="SearchResults">
            <div id="TeacherResults">
                <table class="ResultsTable">
                    <tr>
                        <th class="icon"></th>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Email Address</th>
                        <th>Department</th>
                        <th>Tenure</th>
                        <th>Last Login</th>
                        <th>Disabled</th>
                    </tr>
                    <tr th:each="teacher : ${teacherList}">
                        <td><a th:href="@{/adminManageTeacher}" href="../templates/adminManageTeacher.html"><button class="editicon"></button></a></td>
                        <td th:text="${teacher.getLastName()}">BUSH</td>
                        <td th:text="${teacher.getFirstName()}">JAMES</td>
                        <td th:text="${teacher.getEmailAddress()}">jebush@gmail.com</td>
                        <td th:text="${teacher.getDepartment()}">PHYSED</td>
                        <td th:text="${teacher.getHireDate()}">43</td>
                        <td th:text="${'N/A'}">09/29/16</td>
                        <td th:text="${teacher.getUser().isDisabled()}">NO</td>
                    </tr>
                </table>
            </div>
        </div>
    </fieldset>
    <div class="divider">
        <hr/>
    </div>
    <!--student manager search engine-->
    <fieldset class="SearchField">
        <legend>Students</legend>
        <article class="SearchParams">
            <div id="StudentSearchParams">
                <form>
                    <input class="InputField" type="text" placeholder="Last Name"/>
                    <input class="InputField" type="text" placeholder="First Name"/>
                    <input class="InputField" type="text" placeholder="Email Address"/>
                    <input class="InputField" type="text" placeholder="Student ID#"/>
                    <input class="InputField" type="text" placeholder="Grade"/>
                    <button class="SearchButton">Search</button>
                </form>
                <a th:href="@{/adminManageStudent}" href="../templates/adminManageStudent.html"><button id="AddStudentButton" class="addnewuser"></button></a>
            </div>
            <br/>
        </article>
        <!--student manager results-->
        <div class="SearchResults">
            <div id="StudentResults">
                <table class="ResultsTable">
                    <tr>
                        <th class="icon"></th>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Email Address</th>
                        <th>Student ID#</th>
                        <th>Grade</th>
                        <th>Last Login</th>
                        <th>Disabled</th>
                    </tr>
                    <tr th:each="student : ${studentList}">
                        <td><a th:href="@{/adminManageStudent}" href="../templates/adminManageStudent.html"><button class="editicon"></button></a></td>
                        <td th:text="${student.getLastName()}">SMITH</td>
                        <td th:text="${student.getFirstName()}">MATTHEW</td>
                        <td th:text="${student.getEmailAddress()}">msmith01@fakeschools.org</td>
                        <td th:text="${student.getStudentNumber()}">9824621</td>
                        <td th:text="${student.getGradeLevel()}">12</td>
                        <td th:text="${'N/A'}">N/A</td>
                        <td th:text="${student.getUser().isDisabled()}">NO</td>
                    </tr>
                </table>
            </div>
        </div>
    </fieldset>
</section>
</body>
</html>