<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Objective Grader: Login</title>
    <link th:href="@{css/login.css}" href="../static/css/login.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{images/icon.png}" href="../static/images/icon.png" rel="icon"/>
    <header>
        <div class="HeaderText">
            <h1>Objective Grader</h1>
        </div>
    </header>
</head>
<body>
    <div class="LoginForm">
        <h2>Credentials</h2><br/>
        <div class="formArea">
            <form class="UserDetails" th:action="@{/login}" action="../templates/adminHome.html" method="post">
                <div class="LabelText">
                    <label for="userName">User Name: </label>
                </div>
                <div>
                    <input type="text" placeholder="Enter User Name Here" id="userName" name="userName" value=""/><br/>
                </div>
                <div class="LabelText">
                    <label for="password">Password: </label>
                </div>
                <div>
                    <input type="password" placeholder="Enter Password Here" id="password" name="password" value=""/><br/>
                </div>
                <div class="LabelText">
                    <label for="login"></label>
                </div>
                <div>
                    <button id="login">Login</button>
                </div>
                <div class ="ResetPW">
                    <a href="">Reset Password</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>