<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Objective Grader: Login</title>
    <link th:href="@{css/theme.css}" href="../static/css/theme.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{css/themeStudent.css}" href="../static/css/themeStudent.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{images/icon.png}" href="../static/images/icon.png" rel="icon"/>
    <header>
        <div class="HeaderText">
            <h1>Objective Grader</h1>
        </div>
    </header>
    <banner>
        <div>
            <span class="date" th:text="${date}">September 26, 2016</span>
            <span class="greeting" th:text="${'Good ' + day + ', ' + userName + '!'}">Good Morning, Student!</span>
        </div>
    </banner>
    <nav class="nav-links">
        <ul th:object="${student}">
            <li class="current"><a th:href="@{/studentHome}" href="../templates/studentHome.html">Home</a></li>
            <li><a th:href="@{/studentGradeView}" href="../templates/studentGradeView.html">Grade View</a></li>
            <li><a th:href="@{/logout}" href="../templates/login.html">Logout</a></li>
        </ul>
    </nav>
</head>
<body>
    <section>
        <article class="SchoolInfo">
            <div>
                <img id="SchoolPic" th:src="@{/school/image}" src="../static/images/schoolext.jpg" alt=""/>
            </div>
            <div class="SchoolStats" th:object="${school}">
                <ul>
                    <h1 class="SchoolName"><span th:text="*{schoolName}">Excelsior High School</span></h1>
                    <hr class="nameDivider"/>
                    <li><span class="LabelText">District: </span><span th:text="*{district}">Fake County Public Schools</span></li>
                    <li><span class="LabelText">School Address: </span><span th:text="*{address}">1234 Elm Street</span></li>
                    <li><span class="LabelText">City/State/Zip: </span><span th:text="*{city + ', ' + state + ' ' + zipCode}">Raleigh, NC 27610</span></li>
                    <li><span class="LabelText">School Email: </span><span th:text="*{email}">excelsioroffice@fakeschools.org</span></li>
                    <li><span class="LabelText">School Phone: </span><span th:text="*{phone}">(919)123-4567</span></li>
                </ul>
            </div>
        </article>
        <div class="divider">
            <hr/>
        </div>
        <article>
            <fieldset>
                <legend>My Classes</legend>
                <table id="AttendanceTable">
                    <tr th:each="grade : ${classList}">
                        <td class="icon"></td>
                        <td th:text="${'Period ' + grade.academicClass.period}">Period 1</td>
                        <td th:text="${grade.academicClass.name}">13 Students</td>
                        <td class="spacer"><span></span></td>
                        <td>
                            <span class=""><a class="homeHyperlinkAttendance" th:href="@{/studentGradeView?(period=${grade.academicClass.period})}" href="../templates/studentGradeView.html">Attendance</a></span>
                        </td>
                        <td>
                            <span class="teacherHomeGrade" th:text="${grade.studentClassAverage + '%'}">60.8% D</span>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </article>
    </section>
</body>
</html>