<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Objective Grader: Login</title>
    <link th:href="@{css/theme.css}" href="../static/css/theme.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{css/forms.css}" href="../static/css/forms.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{images/icon.png}" href="../static/images/icon.png" rel="icon"/>
    <header>
        <div class="HeaderText">
            <h1>Objective Grader</h1>
        </div>
    </header>
    <banner>
        <div>
            <span class="date" th:text="${date}">September 26, 2016</span>
            <span class="greeting" th:text="${'Hello, ' + userName + '!'}">Good Morning, Teacher!</span>
        </div>
    </banner>
    <nav class="nav-links">
        <ul th:object="${teacher}">
            <li class="option"><a th:href="@{/teacherHome}" href="../templates/teacherHome.html">Home</a></li>
            <li class="option"><a th:href="@{teacherMyAttendance}" href="../templates/teacherAttendance.html">Attendance</a></li>
            <li class="current"><a th:href="@{teacherMyGradeBook}" href="../templates/teacherGradeBook.html">Grade Book</a></li>
            <li class="logout"><a th:href="@{/logout}" href="../templates/login.html">Logout</a></li>
        </ul>
    </nav>
</head>
<body>
    <section>
        <!--Assignment manager-->
        <article>
            <fieldset>
                <!--think from perspective of grade, even though creating object-->
                <legend>Manage Assignment</legend>
                <form class="ManageForm" th:action="teacherManageAssign" th:object="${grade}" action="../templates/teacherGradeBook.html" method="post">
                    <input type="hidden" id="gradeID" name="gradeID" th:field="*{gradeID}"/>
                    <input type="hidden" id="assignmentID" name="assignmentID" th:field="*{assignment.assignmentID}"/>
                    <label>Class</label>
                    <ul class="error" th:hidden="true"><li th:each="err : ${#fields.errors('academicClass')}"></li></ul>
                    <select name="academicClass" th:field="*{academicClass}">
                        <option value="" selected="true">Class</option>
                        <option th:each="academicClass : ${teacherClasses}" th:value="${academicClass.getClassID()}" value="" th:text="${'Period ' + academicClass.getPeriod()+ ': ' + academicClass.getName()}"></option>
                    </select>
                    <br/><label>Assignment Name</label>
                    <ul class="error" th:hidden="true"><li th:each="err : ${#fields.errors('assignment.assignmentName')}"></li></ul>
                    <input name="assignmentName" type="text" class="FormInput" placeholder="Assignment Name" th:field="*{assignment.assignmentName}" th:errorclass="error"/>
                    <br/>
                    <label>Assignment ID</label>
                    <ul class="error" th:hidden="true"><li th:each="err : ${#fields.errors('assignment.assignmentIDNumber')}"></li></ul>
                    <input name="assignmentIDNumber" type="text" class="FormInput" placeholder="Assignment ID" th:field="*{assignment.assignmentIDNumber}" th:errorclass="error"/>
                    <br/>
                    <label>Date</label>
                    <ul class="error" th:hidden="true"><li th:each="err : ${#fields.errors('assignment.date')}"></li></ul>
                    <input name="assignmentDate" type="date" class="FormInputDate" th:field="*{assignment.date}" th:errorclass="error"/>
                    <br/>
                    <label>Possible Points</label>
                    <ul class="error" th:hidden="true"><li th:each="err : ${#fields.errors('possPoints')}"></li></ul>
                    <input name="possPoints" type="number" min="0" class="FormInputPoints" placeholder="Possible Points" th:field="*{possPoints}" th:errorclass="error"/>
                    <br/>

                    <!--TODO: Do not factor-->
                    <label>Do Not Factor</label>
                    <input type="checkbox" disabled="true"/>
                    <br/>
                    <!--<label>Period</label>-->
                    <!--<input type="checkbox" name="period" value="1" /><span class="periodID">1</span>-->
                    <!--<input type="checkbox" name="period" value="2" /><span class="periodID">2</span>-->
                    <!--<input type="checkbox" name="period" value="3" /><span class="periodID">3</span>-->
                    <!--<input type="checkbox" name="period" value="4" /><span class="periodID">4</span>-->
                    <!--<input type="checkbox" name="period" value="5" /><span class="periodID">5</span>-->
                    <!--<input type="checkbox" name="period" value="6" /><span class="periodID">6</span>-->
                    <!--<input type="checkbox" name="period" value="7" /><span class="periodID">7</span>-->
                    <!--<input type="checkbox" name="period" value="8" /><span class="periodID">8</span>-->
                    <!--<br/>-->

                    <label>Notes</label>
                    <textarea name="assignmentNote" class="AddAssignmentNoteText" th:value="*{assignment.note}"></textarea>
                    <br/>
                    <button>Save</button>
                </form>
            </fieldset>
        </article>
    </section>
</body>
</html>