<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Objective Grader: Login</title>
    <link th:href="@{css/theme.css}" href="../static/css/theme.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{css/themeTeacher.css}" href="../static/css/themeTeacher.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{images/icon.png}" href="../static/images/icon.png" rel="icon"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script th:src="@{scripts/blur.js}" src="../static/scripts/blur.js"></script>
    <script th:src="@{scripts/updateGradebook.js}" src="../static/scripts/updateGradebook.js"></script>
    <header>
        <div class="HeaderText">
            <h1>Objective Grader</h1>
        </div>
    </header>
    <banner>
        <div>
            <span class="date" th:text="${date}">September 26, 2016</span>
            <span class="greeting" th:text="${'Good ' + day + ', ' + userName + '!'}">Good Morning, Teacher!</span>
        </div>
    </banner>
    <nav class="nav-links">
        <ul th:object="${teacher}">
            <li><a th:href="@{/teacherHome}" href="../templates/teacherHome.html">Home</a></li>
            <li><a th:href="@{teacherMyAttendance}" href="../templates/teacherAttendance.html">Attendance</a></li>
            <li class="current"><a th:href="@{teacherGradeBook}" href="../templates/teacherGradeBook.html">Grade Book</a></li>
            <li><a th:href="@{/logout}" href="../templates/login.html">Logout</a></li>
        </ul>
    </nav>
</head>
<body>
    <section>
        <fieldset class="SearchField">
            <legend>Classes</legend>
            <!--class manager search engine-->
            <article class="SearchParams">
                <div id="ClassSearchParams">
                    <form class="searchForm" method="get">
                        <input name="period" id="period" class="InputField" type="text" placeholder="Period" th:value="*{period}"/>
                        <input name="name" id="name" class="InputField" type="text" placeholder="Class Name" th:value="*{name}"/>
                        <input name="identifier" id="identifier" class="InputField" type="text" placeholder="Class ID#" th:value="*{identifier}"/>
                        <button id="searchClasses" class="SearchButton">Search</button>
                        <button id="resetClasses" class="ResetButton">Reset</button>
                    </form>
                </div>
                <br/>
            </article>
            <br/>
            <!--class manager results from classesTable-->
            <div id="classOutput">
                This is sample content.
            </div>
            <br/>
            <div>
                <div class="pagination">
                <a href="#">
                    <button id="back">Back</button></a>
                <a href="#">
                    <button id="next">Next</button></a>
                </div>
            </div>
        </fieldset>
        <div class="divider">
            <hr/>
        </div>
        <fieldset class="SearchField">
            <legend>Assignments</legend>
            <!--assignment manager search engine-->
            <article class="SearchParams">
                <div id="AssigmentSearchParams">
                    <form th:action="@{/teacherGradeBook}" th:object="${searchTeacherAssign}" method="get">
                        <input name="aPeriod" id="aPeriod" class="InputField" placeholder="Period" th:value="*{aPeriod}" value=""/>
                        <input name="aName" id="aName" class="InputField" type="text" placeholder="Name" th:value="*{aName}"/>
                        <input name="aID" id="aID" class="InputField" placeholder="ID#" th:value="*{aID}"/>
                        <input name="aDate" id="aDate" class="InputField" placeholder="Date" th:value="*{aDate}"/>
                        <input name="aPoints" id="aPoints" class="InputField" placeholder="Points" th:value="*{aPoints}"/>
                        <button class="SearchButton">Search</button>
                        <button id="resetAssignments" class="ResetButton">Reset</button>
                    </form>
                </div>
                <div>
                    <a th:href="@{/teacherManageAssign}" href="../templates/teacherManageAssign.html"> <button id="AddAssignButton" class="addicon"></button></a>
                </div>
                <br/>
            </article>
            <br/>
            <!--assignment manager results-->
            <div id="assignmentOutput">
                This is sample content.
            </div>
            <div class="pagination">
            <br/>
            <span id="descriptionAssign"></span>
            <a href="#">
                <button id="assignBack">Back</button></a>
            <a href="#">
                <button id="assignNext">Next</button></a>
        </div>
        </fieldset>
        <div class="divider">
            <hr/>
        </div>
        <!--class manager search engine-->
        <fieldset class="SearchField">
            <legend>Students</legend>
            <article class="SearchParams">
                <div id="StudentSearchParams">
                    <form th:action="@{/teacherGradeBook}" th:object="${searchTeacherStudents}" method="get">
                        <input name="sPeriod" id="sPeriod" class="InputField" type="text" placeholder="Period" th:value="*{sPeriod}" value=""/>
                        <input name="sLastName" id="sLastName" class="InputField" type="text" placeholder="Last Name" th:value="*{sLastName}"/>
                        <input name="sFirstName" id="sFirstName" class="InputField" type="text" placeholder="First Name" th:value="*{sFirstName}"/>
                        <input name="sAName" id="sAName" class="InputField" type="text" placeholder="Name" value="" th:value="*{sAName}"/>
                        <input name="sAID" id="sAID" class="InputField" type="text" placeholder="ID#" th:value="*{sAID}"/>
                        <button class="SearchButton">Search</button>
                        <button id="resetStudents" class="ResetButton">Reset</button>
                    </form>
                </div>
                <br/>
            </article>
            <!--class manager results-->
                <br/>
                <div id="studentOutput">
                    This is sample content.
                </div>
                <div class="pagination">
                <br/>
                <span id="descriptionStudent"></span>
                <a href="#">
                    <button id="studentBack">Back</button></a>
                <a href="#">
                    <button id="studentNext">Next</button></a>
                </div>
        </fieldset>
    </section>
</body>
</html>