<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Objective Grader: Login</title>
    <link th:href="@{css/theme.css}" href="../static/css/theme.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{images/icon.png}" href="../static/images/icon.png" rel="icon"/>
    <header>
        <div class="HeaderText">
            <h1>Objective Grader</h1>
        </div>
    </header>
    <banner>
        <div>
            <span class="date" th:text="${java.time.LocalDate.now()">September 26, 2016</span>
            <span class="greeting">Good Morning, Teacher!</span>
        </div>
    </banner>
    <nav class="nav-links">
        <ul>
            <li class="current"><a th:href="" href="../templates/teacherHome.html">Home</a></li>
            <li class="option"><a th:href="" href="../templates/teacherAttendance.html">Attendance</a></li>
            <li class="option"><a th:href="" href="../templates/teacherGradeBook.html">Grade Book</a></li>
            <li class="logout"><a th:href="@{/logout}" href="../templates/login.html">Logout</a></li>
        </ul>
    </nav>
</head>
<body>
    <section>
        <article class="SchoolInfo">
            <div>
                <img id="SchoolPic" src="../static/images/schoolext.jpg" alt=""/>
            </div>
            <div class="SchoolStats">
                <ul>
                    <h1 class="SchoolName">Excelsior High School</h1>
                    <li><span class="LabelText">District: </span><span>Fake County Public Schools</span></li>
                    <li><span class="LabelText">Principal: </span><span>Mrs. Felicity Scott</span></li>
                    <li><span class="LabelText">School Address: </span><span>1234 Elm Street</span></li>
                    <li><span class="LabelText">City/State/Zip: </span><span>Raleigh, NC 27610</span></li>
                    <li><span class="LabelText">School Email: </span><span>excelsioroffice@fakeschools.org</span></li>
                    <li><span class="LabelText">School Phone: </span><span>(919)123-4567</span></li>
                </ul>
            </div>
        </article>
        <div class="divider">
            <hr/>
        </div>
        <article>
            <fieldset>
                <legend>My Classes</legend>
                    <table id="AttendanceTable">
                        <tr>
                            <td></td>
                            <td>Period 1</td>
                            <td>13 Students</td>
                            <td>[]</td>
                            <td><a href="../templates/teacherAttendance.html">Attendance</a></td>
                            <td><a href="../templates/teacherGradeBook.html">Gradebook</a></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Period 2</td>
                            <td>27 Students</td>
                            <td>[]</td>
                            <td><a href="../templates/teacherAttendance.html">Attendance</a></td>
                            <td><a href="../templates/teacherGradeBook.html">Gradebook</a></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Period 3</td>
                            <td>18 Students</td>
                            <td>[]</td>
                            <td><a href="../templates/teacherAttendance.html">Attendance</a></td>
                            <td><a href="../templates/teacherGradeBook.html">Gradebook</a></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Period 4</td>
                            <td>0 Students</td>
                            <td>[]</td>
                            <td><a href="../templates/teacherAttendance.html" disabled="true">Attendance</a></td>
                            <td><a href="../templates/teacherGradeBook.html">Gradebook</a></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Period 5</td>
                            <td>0 Students</td>
                            <td>[]</td>
                            <td><a href="../templates/teacherAttendance.html">Attendance</a></td>
                            <td><a href="../templates/teacherGradeBook.html">Gradebook</a></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Period 6</td>
                            <td>29 Students</td>
                            <td>[]</td>
                            <td><a href="../templates/teacherAttendance.html">Attendance</a></td>
                            <td><a href="../templates/teacherGradeBook.html">Gradebook</a></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Period 7</td>
                            <td>32 Students</td>
                            <td>[]</td>
                            <td><a href="../templates/teacherAttendance.html">Attendance</a></td>
                            <td><a href="../templates/teacherGradeBook.html">Gradebook</a></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Period 8</td>
                            <td>21 Students</td>
                            <td>[]</td>
                            <td><a href="../templates/teacherAttendance.html">Attendance</a></td>
                            <td><a href="../templates/teacherGradeBook.html">Gradebook</a></td>
                        </tr>
                    </table>
            </fieldset>
        </article>
    </section>
</body>
</html>