<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Objective Grader: Login</title>
    <link th:href="@{css/theme.css}" href="../static/css/theme.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{images/icon.png}" href="../static/images/icon.png" rel="icon"/>
    <header>
        <div class="HeaderText">
            <h1>Objective Grader</h1>
        </div>
    </header>
    <banner>
        <div>
            <span class="date" th:text="${date}">September 26, 2016</span>
            <span class="greeting" th:text="${'Hello, ' + userName + '!'}">Good Morning, Teacher!</span>
        </div>
    </banner>
    <nav class="nav-links">
        <ul th:object="${teacher}">
            <li class="current"><a th:href="@{/teacherHome}" href="../templates/teacherHome.html">Home</a></li>
            <li class="option"><a th:href="@{teacherMyAttendance}" href="../templates/teacherAttendance.html">Attendance</a></li>
            <li class="option"><a th:href="@{teacherMyGradeBook}" href="../templates/teacherGradeBook.html">Grade Book</a></li>
            <li class="logout"><a th:href="@{/logout}" href="../templates/login.html">Logout</a></li>
        </ul>
    </nav>
</head>
<body>
    <section>
        <article class="SchoolInfo">
            <div>
                <img id="SchoolPic" th:src="@{/images/schoolext.jpg}" src="../static/images/schoolext.jpg" alt=""/>
            </div>
            <div class="SchoolStats">
                <ul >
                    <h1 class="SchoolName">Excelsior High School</h1>
                    <li><span class="LabelText">District: </span><span>Fake County Public Schools</span></li>
                    <li><span class="LabelText">Principal: </span><span>Mrs. Felicity Scott</span></li>
                    <li><span class="LabelText">School Address: </span><span>1234 Elm Street</span></li>
                    <li><span class="LabelText">City/State/Zip: </span><span>Raleigh, NC 27610</span></li>
                    <li><span class="LabelText">School Email: </span><span>excelsioroffice@fakeschools.org</span></li>
                    <li><span class="LabelText">School Phone: </span><span>(919)123-4567</span></li>
                </ul>
            </div>
        </article>
        <div class="divider">
            <hr/>
        </div>
        <article>
            <fieldset>
                <legend>My Classes</legend>
                    <table id="AttendanceTable">
                        <tr th:each="academicClass : ${classList}" th:object="${teacher}">
                            <td class="icon"></td>
                            <td th:text="${'Period ' + academicClass.period}">Period 1</td>
                            <td th:text="${academicClass.studentNumber + ' students'}">13 Students</td>
                            <td>
                                <input class="attendanceCheckbox" disabled="true" type="checkbox"/>
                                <a class="homeHyperlink" th:href="@{/teacherAttendance?(teacherLastName=*{lastName}, teacherFirstName=*{firstName}, teacherID=*{teacherID}, sPeriod=${academicClass.period})}" href="../templates/teacherAttendance.html">Attendance</a>
                                <a class="homeHyperlink" th:href="@{/teacherGradeBook?(teacherLastName=*{lastName}, teacherFirstName=*{firstName}, teacherID=*{teacherID}, aPeriod=${academicClass.period}, sPeriod=${academicClass.period})}" href="../templates/teacherGradeBook.html">Gradebook</a>
                                <span class="teacherHomeDisplay" th:text="${academicClass.classAverage + '%'}"></span>
                            </td>
                        </tr>
                    </table>
            </fieldset>
        </article>
        <div class="divider">
            <hr/>
        </div>
        <article>
            <!--Future Dashboards/Info-->
        </article>
    </section>
</body>
</html>